<%- include("header") -%>
<link rel="stylesheet" href="css/contato.css">

<div class="conteudo1">
    <div class="texto"> 
        <div class="container_texto">
            <div><h1>Github - Portifolio</h1></div>
            <div><h1>Whatsapp</h1></div>
        </div>
    </div>
    <div class="texto"> 
        <div class="container_texto">
            <div><a href="https://github.com/Richardrafael" target="_blank"><i class="bi bi-github  btn btn-dark" id="contatos"></i></a></div>
            <div><a href="https://api.whatsapp.com/send?phone=5512997119071" target="_blank"><i class="bi bi-whatsapp btn btn-success"  id="contatos"></i></a></div>
        </div>
    </div>
</div>

<div class="conteudo2">
    <div class="texto"> 
        <div class="container_texto">
            <div><h1>Email</h1></div>
            <div><h1>Linkedin</h1></div>
        </div>
    </div>
    <div class="texto"> 
        <div class="container_texto">
            <div><a href="https://github.com/Richardrafael" target="_blank"><i class="bi bi-envelope  btn btn-danger" id="contatos"></i></a></div>
            <div><a href="https://www.linkedin.com/in/richardsoaress/" target="_blank"><i class="bi bi-linkedin btn btn-primary" id="contatos"></i></a></div>
        </div>
    </div>
</div>

<%- include ("footer") -%>