<%- include('header') -%>
<link rel="stylesheet" href="css/experiencia.css">
<body>
    

<div class="conteudo1">
    <div class="experiencia">
        <div class="container_exp">
            <div><h1 id="experiencia">EXPERIÊNCIA</h1></div>
            <div><span id="dados_experiencia">dados_experiencia</span></div>
        </div>
    </div>

    <div class="projetos">
            <div  class="container_pri">
                <h1 id="experiencia">1° PROJETO</h1>
                <div><span id="primeiro">dados_primeiro</span></div>
                <div class="github"><a href="https://github.com/gruporocket/API1" target="_blank"><i class="bi bi-github  btn btn-dark"></i></a></div>
            </div>
    </div>
</div>

<div class="conteudo2">
    <div class="experiencia">
        <div class="container_exp">
            <div><h1 id="experiencia">2° PROJETO</h1></div>
            <div><span id="segundo">dados_segudo</span></div>
            <div class="github"><a href="https://github.com/Grupo1API/JetSoft" target="_blank"><i class="bi bi-github  btn btn-dark"></i></a></div>
        </div>
    </div>

    <div class="projetos">
            <div  class="container_pri" id="ter">
                <h1 id="experiencia">3° PROJETO</h1>
                <div><span id="terceiro">dados_terceiro</span></div>
                <div class="github"><a href="https://github.com/Richardrafael/TecSus-1" target="_blank"><i class="bi bi-github  btn btn-dark"></i></a></div>
            </div>
    </div>
</div>
</div>


<div class="conteudo3">
    <div class="experiencia">
        <div class="container_exp" id="ter">
            <div><h1 id="experiencia">4° PROJETO</h1></div>
            <div><span id="quarto">dados_quarta</span></div>
            <div class="github"><a href="https://github.com/Inodevs-4" target="_blank"><i class="bi bi-github  btn btn-dark"></i></a></div>
        </div>
    </div>

    <div class="projetos">
            <div  class="container_pri" id="ter">
                <h1 id="experiencia">5° PROJETO</h1>
                <div><span id="quinto">dados_quinta</span></div>
                <div class="github"><a href="https://github.com/Inodevs-5" target="_blank"><i class="bi bi-github  btn btn-dark"></i></a></div>
            </div>
    </div>
</div>
</div>
</div>

<%- include('footer_branco') -%>
<script src="js/experiencia.js"></script>
</body>
