<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

<div class="conteudo_footer">
    <div class="icones">
        <a href="https://api.whatsapp.com/send?phone=5512997119071" target="_blank"><i class="bi bi-whatsapp btn btn-success"></i></a>
        <a href="https://github.com/Richardrafael" target="_blank"><i class="bi bi-github  btn btn-dark"></i></a>
        <a href="https://www.linkedin.com/in/richardsoaress/" target="_blank"><i class="bi bi-linkedin btn btn-primary"></i></a>
        <i class="bi bi-envelope  btn btn-danger"></i>
   </div>
</div>