<link rel="stylesheet" href="css/pagina.css" />
<%- include('header') -%>
<title>Pagina Inicial</title>
        <div class="conteudo1">
            <div class="profile">
                <div class="richard">
            <div class="coluna">
                <div><h1>RICHARD SOARES</h1></div>
                <div class="containerfoto"><img class="foto" src="img/richard.PNG"></div>
                <div><h1>Desenvolvedor</h1></div>
            </div>
                </div>
            </div>

            <div class="info">
                <div class="bio">
                    <div style="display: flex; flex-direction: column; margin: auto;">
                        <h1 id="titulo">OBJETIVO</h1>
                    <div class="texto_objetivo">
                        <span id="texto">
                           eu
                        </span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conteudo2">
     <div class="formacao">
        <div class="containercurso">
            <div>
                <h1>Formação</h1>
            </div>
                <div class="curso">
                    <div><span id="nome">nome</span></div>
                    <div><span id="curso">curso</span></div>
                    <div><span id="status">Status</span></div>
                </div>
                <div class="curso">
                    <div><span id="nome1">nome</span></div>
                    <div><span id="curso1">curso</span></div>
                    <div><span id="status1">Status</span></div>
                </div>
            </div>  
        </div>
        <div class="escolas">
            <div class="containercurso">
                <div>
                    <h1>Instituições</h1>
                </div>
                <div class='containerlogo'>
                    <img  class='logo' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_4rqjYvLQnA8Tpx1LVOG7fhmlW3varMFofUrEEXEh7WR7pcmvJfY6ae3tlTsKtz91Lho&usqp=CAU">
                </div>

                <div class='containerlogo'>
                    <img class='logo' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlNLrgHOPYFWwLAbX7hC_wDr0b4NiYA4HA7aNuWDrWCQ&s">
                </div>
            </div>
        </div>
    </div> 


    <%- include('footer') -%>

    <script src="js/pagina.js"></script>