<%- include("header") -%>
<link rel="stylesheet" href="css/projetos.css">
<div class="conteudo1">
    <div class="projeto">
        <div class="container_p">
            <div><h1>Clone Spotify</h1></div>
            <div><h1>Calculado</h1></div>
        </div>
    </div>
    <div class="projeto">
        <div class="container_p">
            <a href="/spotify"><img  class='logo' id="ima" src="img/spo.PNG"></a>
            <a href="/calculadora"><img class='logo' id="ima" src="img/calculadora.PNG"></a>
        </div>
    </div>
</div>    
<%- include("footer_branco") -%>

