.conteudo2 h1{
    color: white;
}

.conteudo2 span{
    color: white;
}
    

.formacao{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.escolas{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containercurso{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 70%;
    /* background-color: red; */
    justify-content: space-around;
}
.coluna{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    height: 80%;
}

.curso{
   width: 80%;
   margin: auto;
}

.profile{
    /* background-color: yellow; */
    width: 40%;
    display: flex;
    flex-direction: column;
}

.containerfoto{
    width: 60%;
    height: 70%;
    display: flex;
    margin: auto;
}
.foto{
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 100%;

}

.richard{
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    width: 80%;
    margin: auto;
    height: 80%;
}


h1{
    text-align: center;
    color: rgb(228, 117, 248);
    margin: 0;
    /* margin-top: 0%; */
    
}


.info{
    /* background-color: blue; */
    width: 40%;
    display: flex;
    flex-direction: column;
}


#texto{
    color: #333;
    font-size: 1.5rem;
    word-break: break-word;
}


.texto_objetivo{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}


    .bio{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        height: 80%;
    }


#titulo{
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 500;
}


.logo{
    width: 100%;
    height: 100%;
    margin: auto;
}

.containerlogo{
width: 100%;
height: 30%;
display: flex;
margin: auto;
}


.foto{
    animation-name: moveright; /* nome da animação */
    animation-duration: 20s; /* duração da animação */
    animation-iteration-count: infinite; /* número de repetições (infinite para repetir infinitamente) */
    animation-direction: alternate; /* direção da animação (pode ser normal, alternate, reverse ou alternate-reverse) */
 }
 
 @keyframes moveright {
    0% {
        border-radius: 30% 100% 100% 100%
      }
      50% {
        border-radius: 100% 30% 100% 100%
      }
    75% {
        border-radius: 100% 100% 30% 100%
      }
      100% {
        border-radius: 100% 100% 100% 30%
      }
 }


 .foto{
    animation-name: moveright; /* nome da animação */
    animation-duration: 20s; /* duração da animação */
    animation-iteration-count: infinite; /* número de repetições (infinite para repetir infinitamente) */
    animation-direction: alternate; /* direção da animação (pode ser normal, alternate, reverse ou alternate-reverse) */
 }
 