.projeto{
 /* background-color: red; */
 width: 40%;
 height: 80%;
}

.link{
background-color: rgb(246, 255, 0);
 width: 40%;
 height: 80%;
}


.container_p{
    /* background-color: aqua; */
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#ima{
    width: 100%;
    height: 200px;
    cursor: pointer;
}

#ima{
    animation-name: moveright; /* nome da animação */
    animation-duration: 20s; /* duração da animação */
    animation-iteration-count: infinite; /* número de repetições (infinite para repetir infinitamente) */
    animation-direction: alternate; /* direção da animação (pode ser normal, alternate, reverse ou alternate-reverse) */
 }
 
 @keyframes moveright {
    0% {
        border-radius: 50% 100% 100% 100%
      }
      50% {
        border-radius: 100% 50% 100% 100%
      }
    75% {
        border-radius: 100% 100% 50% 100%
      }
      100% {
        border-radius: 100% 100% 100% 50%
      }
 }